# {{ ansible_managed }}

[Unit]
Description=Forgejo runner daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/forgejo-runner
User=forgejo-runner
ExecStart=/usr/local/bin/forgejo-runner daemon -c /etc/forgejo-runner.yml

[Install]
WantedBy=multi-user.target
